@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.icon {
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  background-color: #cecece;
}
